html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.grid {
  display: grid;
  gap: 10px;
}

.g {
  &-r {
    &-s {
      &2 {
        grid-row: span 2;
      }
      &3 {
        grid-row: span 3;
      }
      &4 {
        grid-row: span 4;
      }
    }
  }
  &-c {
    &2 {
      grid-column: span 2;
    }
    &-s {
      &1 {
        grid-column: span 1;
      }
      &2 {
        grid-column: span 2;
      }
      &3 {
        grid-column: span 3 !important;
      }
      &4 {
        grid-column: span 4;
      }
      &5 {
        grid-column: span 5;
      }
      &6 {
        grid-column: span 6;
      }
    }
  }
}
