.container-forms {
  display: grid;
  justify-content: center;
  margin: 20px auto 0;
  align-items: center;
  gap: 10px;

  p {
    margin: 0;
    font-weight: 500;
  }

  mat-divider {
    margin-bottom: 10px;
  }

  button {
    margin-bottom: 50px;
  }
}
